button {
   font-size: 40px;
   margin: 5px;
   padding: 5px 20px;
}
img {
  width: 750px;
  height: 450px;
  display: block;
  margin: 0 auto;
}
body{
  background-color: #FDF5CA;
}
div {
  width: 100%;
}
